<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Execution</title>
</head>
<body>

<h1>Test Execution</h1>

<table border="1">
<tr>
    <th>VersionId</th>
    <th>Status</th>
    <th>Action</th>
</tr>

<tr th:each="c : ${cases}">
    <td th:text="${c.versionId.value}"></td>

    <td th:text="${c.latestResult}"
        th:style="${c.latestResult} == 'PASS' ? 'color:green' :
                  (${c.latestResult} == 'FAIL' ? 'color:red' : '')">
    </td>

    <td>
        <form method="post" action="/ui/test-execution">
            <input type="hidden" name="releaseId" th:value="${releaseId}" />
            <input type="hidden" name="versionId" th:value="${c.versionId.value}" />

            <button name="result" value="PASS">PASS</button>
            <button name="result" value="FAIL">FAIL</button>
        </form>
    </td>
</tr>
</table>

<br>
<a th:href="'/ui/dashboard?releaseId=' + ${releaseId}">
    → Dashboardへ
</a>

</body>
</html>